doctype html
html
  head
    style.
      .MsoNormalTable {
        border: 1px solid windowtext;
        border-collapse: collapse;
        width: 647px;
        margin-left: -1.7pt;
        mso-border-alt: solid windowtext .5pt;
        mso-yfti-tbllook: 1184;
        mso-padding-alt: 0cm 5.4pt 0cm 5.4pt;
        mso-border-insideh: .5pt solid windowtext;
        mso-border-insidev: .5pt solid windowtext;
      }
      .MsoNormal {
        margin-bottom: 0cm;
        line-height: 115%;
      }
  body
    each asset in assets
      h2 Asset #{asset.assetNumber}: #{asset.assetName}
      table(style='width: 93%; margin-left: calc(7%); border-collapse: collapse; border: none;')
        tbody
          - var figureNumber = 1;
          if asset.defects && asset.defects.length 
          each defect in asset.defects
            tr
              td(style='width:93.0pt;border:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:23.65pt;')
                p(style='margin:0;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;')
                  strong
                    span(style='font-size:13px;line-height:115%;font-family:"Times New Roman",serif;') Figure #{figureNumber++}
              td(colspan='4', style='width:291.3pt;border:solid windowtext 1.0pt;border-left:none;padding:0cm 5.4pt 0cm 5.4pt;height:23.65pt;')
                p(style='margin:0;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;')
                  strong
                    span(style='font-size:13px;line-height:115%;font-family:"Arial",sans-serif;color:red;') Defect #{defect.defectNumber}
                    br
                  span(style='font-size:13px;line-height:115%;font-family:"Arial",sans-serif;color:red;') #{defect.description}
              td(style='width:93.0pt;border:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:23.65pt;')
                p(style='margin:0;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;')
                  strong
                    span(style='font-size:13px;line-height:115%;font-family:"Times New Roman",serif;') Figure #{figureNumber++}
            tr
              td(colspan='3', style='width: 244.8pt;border-right: 1pt solid windowtext;border-bottom: 1pt solid windowtext;border-left: 1pt solid windowtext;border-image: initial;border-top: none;padding: 0cm 5.4pt;height: 193.5pt;vertical-align: top;')
                p(style='margin:0;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;')
                  img(src=defect.overviewPhotoSrc, alt="Overview Photo", style="height: 60mm; width: 80mm;")
              td(colspan='3', style='width: 240.8pt;border-top: none;border-left: none;border-bottom: 1pt solid windowtext;border-right: 1pt solid windowtext;padding: 0cm 5.4pt;height: 193.5pt;vertical-align: top;')
                p(style='margin:0;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;')
                  img(src=defect.closeupPhotoSrc, alt="Close-up Photo", style="height: 60mm; width: 80mm;")
            tr
              td(colspan='2', style='width:95.5pt;border:solid windowtext 1.0pt;border-top:none;padding:0cm 5.4pt 0cm 5.4pt;height:30.3pt;')
                p(style='margin:0;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;')
                  span(style='font-size:13px;line-height:115%;font-family:"Arial",sans-serif;') General View
              td(colspan='2', style='width:284.8pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:30.3pt;')
                p(style='margin:0;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;')
                  span(style='font-size:13px;line-height:115%;font-family:"Arial",sans-serif;') #{defect.defectNumber}: #{defect.description}
              td(colspan='2', style='width:105.3pt;border-top:none;border-left:none;border-bottom:solid windowtext 1.0pt;border-right:solid windowtext 1.0pt;padding:0cm 5.4pt 0cm 5.4pt;height:30.3pt;')
                p(style='margin:0;line-height:115%;font-size:15px;font-family:"Calibri",sans-serif;text-align:center;')
                  span(style='font-size:13px;line-height:115%;font-family:"Arial",sans-serif;') Detailed View
            tr
              td(style='border:none;')
                br
              td(style='border:none;')
                br
              td(style='border:none;')
                br
              td(style='border:none;')
                br
              td(style='border:none;')
                br
              td(style='border:none;')
                br
